html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  box-sizing: inherit; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0; }

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: inherit; }

button:focus,
input {
  outline: none;
  font-family: inherit; }

li {
  list-style: none; }

.body-grid {
  display: grid;
  grid-template-rows: [banner-start] 120vh [banner-end whoWeAre-start] min-content [whoWeAre-end ourProjects-start] min-content [ourProjects-end getCreative-start] min-content [getCreative-end aboutUs-start] min-content [aboutUs-end brandStrategy-start] max-content [brandStrategy-end footer-start] 120vh [footer-end];
  grid-template-columns: [leftSidebar-start] 4rem [leftSidebar-end full-start] minmax(min-content, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 1fr) [col-end]) [center-end] minmax(min-content, 1fr) [full-end rightSidebar-start] 4rem [rightSidebar-end]; }

body {
  font-family: "Roboto" helvetica sans-serif;
  font-weight: 100;
  line-height: 2.6rem; }

.heading-1 {
  font-size: 5rem;
  font-weight: 100; }

.banner {
  text-align: right;
  color: var(--text-light); }
  .banner p {
    font-size: 2.4em;
    font-style: italic;
    font-weight: 1;
    color: rgba(255, 255, 255, 0.6);
    text-align: right; }
  .banner h1 {
    opacity: 1; }

:root {
  --primary-dark: rgb(36, 39, 46);
  --primary-light: rgb(228, 183, 99);
  --text-light: rgb(231, 223, 223);
  --text-dark: rgb(8, 8, 8); }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-xl {
  margin-bottom: 8rem; }

.mt-sm {
  margin-top: 2rem; }

.mt-md {
  margin-top: 3rem; }

.mt-lg {
  margin-top: 4rem; }

.mt-xl {
  margin-top: 8rem; }

.btn-dark {
  background-color: var(--primary-dark);
  padding: 1.5% 3%;
  color: rgba(255, 255, 255, 0.9);
  display: inline-block;
  width: 10rem;
  height: 2.5rem;
  font-size: 1.5rem;
  text-align: center;
  opacity: 0.85; }

@keyframes banner-animation {
  0% {
    transform: translateX(50%) scale(0);
    opacity: 0.2;
    transform-origin: top right; }
  100% {
    transform: translateX(0) scale(1);
    transform-origin: top right;
    opacity: 1; } }

@keyframes pop-in-animation {
  0% {
    transform: scale(0); }
  80% {
    transform: scale(1.05);
    filter: blur(5px); }
  100% {
    transform: scale(1);
    filter: blur(0); } }

@keyframes rotate-around-bottom-right {
  0% {
    transform: rotateY(360deg); }
  100% {
    transform: rotateY(0deg); } }

.banner {
  position: relative;
  padding: 5%;
  z-index: 0;
  background-image: url(../img/MountainBanner.jpg);
  background-size: 100%;
  background-position: center;
  background-color: var(--primary-light);
  grid-column: leftSidebar-start / rigthSidebar-end; }
  .banner::after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    clip-path: polygon(45% 0%, 100% 0%, 100% 100%, 10% 100%);
    background-image: linear-gradient(to top right, #24272e 30%, rgba(36, 39, 46, 0) 100%), radial-gradient(circle at top right, #24272e 35%, rgba(36, 39, 46, 0) 100%);
    animation: banner-animation 0.4s; }
  .banner__container {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: 40vw minmax(min-content, 1fr);
    width: 100%;
    height: 100%; }
  .banner__content {
    padding: 0 5%;
    position: relative;
    z-index: 2;
    grid-column: 2/3;
    display: grid;
    grid-row-gap: 3rem;
    grid-auto-rows: min-content;
    animation: pop-in-animation 0.3s ease-out; }
  .banner__logo-box {
    width: 20rem;
    height: 20rem;
    justify-self: end;
    perspective: 250px; }
  .banner__logo {
    width: 100%;
    animation: rotate-around-bottom-right 0.3s; }

.whoWeAre {
  position: relative;
  z-index: 0;
  background-color: #fff;
  grid-column: 1 / -1; }
  .whoWeAre__container {
    max-width: 119rem;
    margin: -1 auto;
    position: relative;
    z-index: 2;
    grid-column: full-start / full-end;
    padding: 0 5%;
    overflow: hidden;
    display: grid;
    grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 40%); }
    .whoWeAre__container::after {
      content: "";
      position: absolute;
      display: block;
      z-index: 1;
      width: 100%;
      height: 100%;
      top: -1px;
      left: 20;
      clip-path: polygon(8% 0%, 100% 0%, 100% 100%, 99% 100%);
      background-image: radial-gradient(circle at top left, #24272e 90%, rgba(36, 39, 46, 0.9));
      background-repeat: no-repeat;
      background-blend-mode: darken; }
  .whoWeAre__description {
    padding: 0 10%;
    grid-column: 1 / 2;
    align-self: center;
    justify-self: start;
    margin-left: -5%;
    display: grid;
    color: rgba(0, 0, 0, 0.8); }
    .whoWeAre__description h1 {
      font-weight: 100;
      line-height: 0.9em;
      font-size: 6rem; }
    .whoWeAre__description p {
      font-size: 2em;
      font-weight: 100; }
  .whoWeAre__image-box {
    position: relative;
    grid-column: 2 / -1; }
    .whoWeAre__image-box::after {
      content: url(../img/patternsmallgold.png);
      position: absolute;
      display: block;
      z-index: 2;
      transform: scale(0.85) translate(30%, -80%); }
  .whoWeAre__image {
    position: relative;
    display: block;
    z-index: 3;
    max-height: 70%; }
  .whoWeAre::before {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    display: block;
    background-color: var(--primary-dark);
    width: 6rem;
    height: 75%; }
  .whoWeAre::after {
    position: absolute;
    left: 0.5%;
    top: 10%;
    content: "";
    display: block;
    background-color: var(--primary-light);
    width: 1.5rem;
    height: 30%; }

.ourProjects {
  max-width: 119rem;
  margin: 0 auto;
  margin-bottom: 20rem;
  background-color: var(--primary-light);
  grid-column: full-start / full-end;
  background-color: transparent;
  /*Left side of the section */
  /*Right side of the section */
  max-height: 100vh; }
  .ourProjects__heading {
    position: relative;
    display: inline-block;
    margin-bottom: 2rem;
    transform: translate(200%, 450%); }
    .ourProjects__heading::after {
      content: "";
      display: block;
      width: 220%;
      height: 2rem;
      position: absolute;
      bottom: -150%;
      background-color: var(--primary-dark); }
  .ourProjects__container {
    width: 100%;
    display: grid;
    grid-template-columns: 40% 1fr; }
  .ourProjects__left {
    padding-left: 10%;
    padding-bottom: 15%;
    transform: translateY(-10%); }
  .ourProjects__description--text {
    padding: 5%;
    padding-right: 15%;
    margin-left: -10%;
    margin-right: -10%;
    font-size: 1.6rem; }
  .ourProjects__right {
    padding-left: 10%;
    padding-top: 5%;
    transform: translateY(10%); }
  .ourProjects__button {
    transform: translateY(200%); }

.two-cards {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 35rem;
  height: 40rem; }
  .two-cards__image {
    position: relative;
    z-index: 2;
    width: 100%;
    display: inlineblock; }
  .two-cards::before {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--primary-light); }
  .two-cards:after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-15%, 15%);
    z-index: 0;
    background-color: var(--primary-dark); }

.product-collage {
  display: grid;
  grid-template-rows: 1fr 1fr;
  position: relative;
  z-index: 2;
  padding: 0%;
  max-width: 35rem;
  height: 30rem; }
  .product-collage__heading {
    display: inline-block;
    padding: 4% 15rem 4% 3%;
    position: relative;
    z-index: 3;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 4rem;
    background-color: var(--primary-dark);
    color: rgba(255, 255, 255, 0.8);
    transform: translate(65%, 115%); }
  .product-collage__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    display: block;
    width: 80%; }
  .product-collage::before {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--primary-light); }
  .product-collage:after {
    content: "";
    display: inline-block;
    height: 75%;
    width: 140%;
    display: grid;
    grid-template-rows: repeat(10, 1px);
    grid-row-gap: 0px;
    grid-column-gap: 0px;
    position: absolute;
    top: 25%;
    left: 5%;
    z-index: 0;
    transform: translate(-15%, 25%);
    background-image: url(../img/patterndrkblue.png); }

.getCreative {
  background: transparent;
  grid-column: full-start / full-end;
  height: auto;
  padding: 5%;
  margin-bottom: 50rem; }
  .getCreative__heading {
    color: var(--primary-light);
    display: grid;
    row-gap: 4rem;
    font-weight: 100;
    font-size: 8rem;
    transform: translate(70%, -200%); }
  .getCreative__container {
    max-width: 119rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: minmax(10rem, 40%) 30%;
    column-gap: 10rem; }
  .getCreative__img-box {
    position: relative;
    transform: translateY(50%); }
    .getCreative__img-box::before {
      content: "";
      display: inline-block;
      height: 70%;
      width: 50%;
      position: absolute;
      z-index: 0;
      top: -28%;
      left: 14%;
      background-image: url(../img/patterndrkblue.png); }
    .getCreative__img-box:after {
      content: "";
      display: inline-block;
      height: 30%;
      width: 2rem;
      position: absolute;
      bottom: 0;
      left: 150%;
      transform: translate(-15%, 15%);
      z-index: 0;
      background-color: var(--primary-light); }

.three-cards {
  position: relative;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  object-fit: contain; }
  .three-cards__img {
    position: relative;
    z-index: 2;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .three-cards::before {
    content: "";
    display: inline-block;
    height: 75%;
    width: 100%;
    position: absolute;
    z-index: 0;
    top: -10%;
    left: 12%;
    background-image: url(../img/patterngoldnew.png); }
  .three-cards:after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: -10%;
    transform: translate(-15%, 15%);
    z-index: 0;
    background-color: var(--primary-dark); }

.aboutUs {
  background-color: var(--primary-light);
  grid-column: full-start / full-end;
  font-size: 4rem;
  padding: 4rem;
  height: 10rem; }

.brandStrategy {
  position: relative;
  background-color: transparent;
  grid-column: full-start / full-end;
  line-height: 3vw;
  font-size: 2vw;
  padding: 2%;
  height: 300vh; }
  .brandStrategy__heading {
    display: inline-block;
    font-weight: 100;
    padding: 10% 2%;
    font-size: 4rem;
    margin-right: 40%;
    text-align: left; }
  .brandStrategy::before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 0%;
    left: -5%;
    height: 105%;
    width: 105%;
    clip-path: polygon(0 70%, 100% 100%, 100% 100%, 0% 100%);
    background-color: var(--primary-dark); }
  .brandStrategy::after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 10vw;
    right: -2vw;
    height: 24vw;
    width: 30vw;
    background-image: url(../img/patternsmallgold.png);
    background-size: cover;
    background-position: center; }

.gallery {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 70vh;
  grid-auto-columns: min-content; }
  .gallery__element {
    object-fit: contain; }
    .gallery__element--1 {
      background-image: url(../img/SlamDunk.jpg);
      background-size: cover;
      background-position: center;
      grid-column: 1 / 6; }
    .gallery__element--2 {
      grid-column: 6 / -1;
      display: flex;
      padding: 5%;
      flex-direction: column;
      justify-content: space-around;
      text-align: left;
      background-color: var(--primary-light);
      color: #fff;
      text-shadow: 0 1rem 4rem gray; }
      .gallery__element--2 p {
        font-style: italic; }
      .gallery__element--2 h2 {
        font-weight: 100; }
    .gallery__element--3 {
      position: relative;
      z-index: 3;
      grid-column: 1 / 5;
      display: flex;
      font-weight: bold;
      box-sizing: content-box;
      padding: 10%;
      border: 3vw solid transparent;
      overflow: none;
      background-color: #fff; }
      .gallery__element--3 p {
        position: relative;
        z-index: 4;
        align-self: center;
        justify-self: center; }
      .gallery__element--3::before {
        content: "";
        position: absolute;
        z-index: 0;
        top: -3vw;
        left: -3vw;
        display: block;
        width: calc(100% + 6vw);
        height: calc(100% + 6vw);
        background-image: url(../img/patterndrkblue.png); }
      .gallery__element--3::after {
        content: "";
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 90%;
        height: 90%;
        background-color: #fff; }
    .gallery__element--4 {
      grid-column: 5 / 9;
      background-image: url(../img/checkeredFigure8.jpg);
      background-size: cover;
      background-position: center; }
    .gallery__element--5 {
      grid-column: 9 / -1;
      background-image: url(../img/WhiteOnWhite.jpg);
      background-size: cover;
      background-position: center; }
    .gallery__element--6 {
      grid-column: 1 / 8;
      background-image: url(../img/FOSAgoldLogo.jpg);
      background-size: cover;
      background-position: center; }
    .gallery__element--7 {
      grid-column: 8 / -1;
      background-image: url(../img/RG_logo.jpg);
      background-size: cover;
      background-position: center; }

.footer {
  background-color: var(--primary-dark);
  grid-column: leftSidebar-start / rightSidebar-end;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 4rem;
  color: #fff; }
  .footer__heading {
    text-align: center; }
  .footer__container {
    margin-top: -20rem;
    padding: 2.5%;
    display: flex;
    justify-content: space-around; }
  .footer__service {
    min-height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .footer__service h2 {
      font-size: 4rem;
      font-weight: 100; }
    .footer__service ul {
      font-size: 2.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: left; }
      .footer__service ul li:not(:last-child) {
        margin-bottom: 3rem; }
