html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  box-sizing: inherit; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0; }

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: inherit; }

button:focus,
input {
  outline: none;
  font-family: inherit; }

.body-grid {
  display: grid;
  grid-template-rows: [banner-start] 120vh [banner-end whoWeAre-start] min-content [whoWeAre-end ourProjects-start] min-content [ourProjects-end getCreative-start] min-content [getCreative-end aboutUs-start] min-content [aboutUs-end brandStrategy-start] 200vh [brandStrategy-end footer-start] 120vh [footer-end];
  grid-template-columns: [leftSidebar-start] 4rem [leftSidebar-end full-start] minmax(min-content, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 1fr) [col-end]) [center-end] minmax(min-content, 1fr) [full-end rightSidebar-start] 4rem [rightSidebar-end]; }

body {
  font-family: "Roboto" helvetica sans-serif;
  font-weight: 100;
  line-height: 2.6rem; }

.heading-1 {
  font-size: 5rem;
  font-weight: 100; }

.banner {
  text-align: right;
  color: var(--text-light); }
  .banner p {
    font-size: 2.4em;
    font-style: italic;
    font-weight: 1;
    color: rgba(255, 255, 255, 0.6);
    text-align: right; }
  .banner h1 {
    opacity: 1; }

:root {
  --primary-dark: rgb(36, 39, 46);
  --primary-light: rgb(228, 183, 99);
  --text-light: rgb(231, 223, 223);
  --text-dark: rgb(8, 8, 8); }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-xl {
  margin-bottom: 8rem; }

.mt-sm {
  margin-top: 2rem; }

.mt-md {
  margin-top: 3rem; }

.mt-lg {
  margin-top: 4rem; }

.mt-xl {
  margin-top: 8rem; }

@keyframes banner-animation {
  0% {
    transform: translateX(50%) scale(0);
    opacity: 0.2;
    transform-origin: top right; }
  100% {
    transform: translateX(0) scale(1);
    transform-origin: top right;
    opacity: 1; } }

@keyframes pop-in-animation {
  0% {
    transform: scale(0); }
  80% {
    transform: scale(1.05);
    filter: blur(5px); }
  100% {
    transform: scale(1);
    filter: blur(0); } }

@keyframes rotate-around-bottom-right {
  0% {
    transform: rotateY(360deg); }
  100% {
    transform: rotateY(0deg); } }

.banner {
  position: relative;
  padding: 5%;
  z-index: 0;
  background-image: url(../img/MountainBanner.jpg);
  background-size: 100%;
  background-position: center;
  background-color: var(--primary-light);
  grid-column: leftSidebar-start / rigthSidebar-end; }
  .banner::after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    clip-path: polygon(45% 0%, 100% 0%, 100% 100%, 10% 100%);
    background-image: linear-gradient(to top right, #24272e 30%, rgba(36, 39, 46, 0) 100%), radial-gradient(circle at top right, #24272e 35%, rgba(36, 39, 46, 0) 100%);
    animation: banner-animation 0.4s; }
  .banner__container {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: 40vw minmax(min-content, 1fr);
    width: 100%;
    height: 100%; }
  .banner__content {
    padding: 0 5%;
    position: relative;
    z-index: 2;
    grid-column: 2/3;
    display: grid;
    grid-row-gap: 3rem;
    grid-auto-rows: min-content;
    animation: pop-in-animation 0.3s ease-out; }
  .banner__logo-box {
    width: 20rem;
    height: 20rem;
    justify-self: end;
    perspective: 250px; }
  .banner__logo {
    width: 100%;
    animation: rotate-around-bottom-right 0.3s; }

.whoWeAre {
  position: relative;
  z-index: 0;
  background-color: #fff;
  grid-column: 1 / -1; }
  .whoWeAre__container {
    position: relative;
    z-index: 2;
    grid-column: full-start / full-end;
    padding: 0 5%;
    overflow: hidden;
    display: grid;
    grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 40%); }
    .whoWeAre__container::after {
      content: "";
      position: absolute;
      display: block;
      z-index: 1;
      width: 100%;
      height: 100%;
      top: -1px;
      left: 20;
      clip-path: polygon(8% 0%, 100% 0%, 100% 100%, 99% 100%);
      background-image: radial-gradient(circle at top left, #24272e 90%, rgba(36, 39, 46, 0.9));
      background-repeat: no-repeat;
      background-blend-mode: darken; }
  .whoWeAre__description {
    padding: 0 10%;
    grid-column: 1 / 2;
    align-self: center;
    justify-self: start;
    margin-left: -5%;
    display: grid;
    color: rgba(0, 0, 0, 0.8); }
    .whoWeAre__description h1 {
      font-weight: 100;
      line-height: 0.9em;
      font-size: 6rem; }
    .whoWeAre__description p {
      font-size: 2em;
      font-weight: 100; }
  .whoWeAre__image-box {
    position: relative;
    grid-column: 2 / -1; }
    .whoWeAre__image-box::after {
      content: url(../img/patternsmallgold.png);
      position: absolute;
      display: block;
      z-index: 2;
      transform: scale(0.85) translate(30%, -80%); }
  .whoWeAre__image {
    position: relative;
    display: block;
    z-index: 3;
    max-height: 70%; }
  .whoWeAre::before {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    display: block;
    background-color: var(--primary-dark);
    width: 6rem;
    height: 75%; }
  .whoWeAre::after {
    position: absolute;
    left: 0.5%;
    top: 10%;
    content: "";
    display: block;
    background-color: var(--primary-light);
    width: 1.5rem;
    height: 30%; }

.ourProjects {
  background-color: var(--primary-light);
  grid-column: full-start / full-end;
  font-size: 4rem;
  padding: 4rem;
  height: 10rem; }

.getCreative {
  background-color: var(--primary-dark);
  grid-column: full-start / full-end;
  font-size: 4rem;
  padding: 4rem;
  height: 40vh; }

.aboutUs {
  background-color: var(--primary-light);
  grid-column: full-start / full-end;
  font-size: 4rem;
  padding: 4rem;
  height: 10rem; }

.brandStrategy {
  background-color: #fff;
  grid-column: full-start / full-end;
  font-size: 4rem;
  padding: 4rem;
  height: 10rem; }

.footer {
  background-color: var(--primary-dark);
  grid-column: leftSidebar-start / rightSidebar-end;
  font-size: 4rem;
  padding: 4rem; }
