.footer {
  background-color: var(--primary-dark);
  grid-column: leftSidebar-start / rightSidebar-end;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2%;
  color: #fff;

  @media only screen and(min-width: $bp-widescreen) {
  }
  @media only screen and(max-width: $bp-largest) {
  }
  @media only screen and(max-width: $bp-large_largest) {
  }
  @media only screen and(max-width: $bp-large) {
  }
  @media only screen and(max-width: $bp-medium) {
    height: 120vh;
  }
  @media only screen and(max-width: $bp-small) {
    margin-top: -50px;
    border-top-right-radius: 5px;
  }
  @media only screen and(max-width: $bp-smallest) {
  }
  &__heading {
    text-align: center;
    margin-bottom: 15rem;
    @media only screen and(max-width: $bp-medium) {
      margin-bottom: 0;
    }
  }
  &__container {
    margin-top: -20rem;

    padding: 2.5%;
    display: flex;
    justify-content: space-evenly;
    @media only screen and(max-width: $bp-medium) {
      margin: 0 auto;
      text-align: center;
      align-items: space-between;
      flex-direction: column;
      padding: 0;
    }
  }

  &__service {
    min-height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:not(:last-child) {
      @media only screen and(max-width: $bp-medium) {
        margin-bottom: 5vh;
      }
    }
    @media only screen and(max-width: $bp-medium) {
      justify-content: flex-start;
      min-height: 15vh;
    }

    & h2 {
      font-size: 4rem;
      font-weight: 100;

      @media only screen and(max-width: $bp-medium) {
        font-size: 2.5rem;
        text-decoration: underline;
        margin-bottom: 1vh;
      }
      @media only screen and(max-width: $bp-small) {
        font-size: 2rem;
      }
    }
    & ul {
      font-size: 2.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: left;

      @media only screen and(max-width: $bp-medium) {
        text-align: center;
        margin: 0;
      }

      & li {
        @media only screen and(max-width: $bp-large) {
          font-size: 2rem;
          @media only screen and(max-width: $bp-medium) {
            margin: 0;
          }
        }
      }
      & li:not(:last-child) {
        @media only screen and(max-width: $bp-medium) {
          margin: 0;
        }
      }
    }
  }

  &__copyright {
    font-size: 1.5rem;
    text-align: center;
    opacity: 0.8;

    & span {
      color: var(--primary-light);
    }
  }
}
