.getCreative {
  background: transparent;
  grid-column: full-start / full-end;
  height: auto;
  padding: 5%;

  // overflow: hidden; //FIXES THE LOWER Scroll bar
  //TEMPORARY (TO SHOE AWAY THE SECTION UNDERNEATH
  margin-bottom: 40rem;

  &__heading {
    color: var(--primary-light);
    display: grid;
    row-gap: 4rem;
    font-weight: 100;
    font-size: 8rem;
    width: min-content;
    transform: translate(100%, -150%);

    align-self: center;
    justify-self: center;

    @media only screen and (max-width: $bp-large) {
      font-size: 6rem;
    }
    @media only screen and (max-width: $bp-medium) {
      transform: translate(0%, -250%);
    }
    @media only screen and (max-width: $bp-small) {
      transform: translate(0%, -260%);
    }
    @media only screen and (max-width: $bp-phone) {
    }
  }
  &__container {
    //Preserving the layout even if the page is minimized
    // max-width: 119rem;
    // margin: 0 auto;
    //Unfortunately it completely messes up smaller screens
    //////////////
    display: grid;

    grid-template-columns: minmax(10rem, 40%) 40%;
    column-gap: 10rem;
  }
  //RIGHT SIDE OF THE CONTAINER

  &__img {
    position: relative;
    z-index: -1;
    display: block;
    width: 100%;

    object-fit: cover;
  }
  &__img-box {
    transform: translateY(45%); //remember this is 50% of the object's own height

    &::before {
      content: "";
      display: inline-block;
      height: 80%;
      width: 40%;

      position: absolute;
      z-index: 0;
      top: -30%;
      left: 14%;
      background-image: url(../img/patterndrkblue.png);
    }
    &:after {
      content: "";
      display: inline-block;
      height: 30%;
      width: 1.5rem;

      position: absolute;
      bottom: -10%;
      left: 75%;

      z-index: 0;
      background-color: var(--primary-light);
    }
  }
}

//Left side of the container
.three-cards {
  position: relative;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  object-fit: contain;
  &__img {
    position: relative;
    z-index: 2;
    display: block;
    width: 100%;
    object-fit: cover;
  }
  &__img-box {
  }
  &::before {
    content: "";
    display: inline-block;
    height: 75%;
    width: 100%;

    position: absolute;
    z-index: 0;
    top: -10%;
    left: 12%;
    background-image: url(../img/patterngoldnew.png);
    @media only screen and (max-width: $bp-large) {
    }
    @media only screen and (max-width: $bp-medium) {
      background-image: url(../img/patternsmallgold.png);
    }
    @media only screen and (max-width: $bp-small) {
    }
    @media only screen and (max-width: $bp-phone) {
    }
  }
  &:after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;

    position: absolute;
    top: 0;
    left: -10%;
    transform: translate(-15%, 15%);
    z-index: 0;
    background-color: var(--primary-dark);
  }
}
