.whoWeAre {
  position: relative;
  z-index: 0;

  background-color: #fff;
  grid-column: 1 / -1;

  &__container {
    position: relative;
    z-index: 2;
    grid-column: full-start / full-end;
    padding: 0 5%;
    overflow: hidden;
    //making the container a sub-grid
    display: grid;
    grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 40%);

    //The large angled gray overlay
    &::after {
      content: "";
      position: absolute;
      display: block;
      z-index: 1; //should be over the background and under the content

      width: 100%;
      height: 100%;
      top: -1px; //removes an invisible line between sections
      left: 20;
      clip-path: polygon(8% 0%, 100% 0%, 100% 100%, 99% 100%);
      background-image: radial-gradient(circle at top left, rgba($primary-dark, 1) 90%, rgba($primary-dark, 0.9));
      background-repeat: no-repeat;
      background-blend-mode: darken;
    }
  }

  &__description {
    padding: 0 10%;
    grid-column: 1 / 2;
    align-self: center;
    justify-self: start;
    margin-left: -5%;
    display: grid;

    color: rgba(black, 0.8);

    & h1 {
      font-weight: 100;
      line-height: 0.9em;
      font-size: 6rem;
    }
    & p {
      font-size: 2em;
      font-weight: 100;
    }
  }
  &__image-box {
    position: relative;
    grid-column: 2 / -1;

    &::after {
      content: url(../img/patternsmallgold.png);
      position: absolute;

      display: block;
      z-index: 2;

      // top: 50%;
      // left: 50%;
      transform: scale(0.85) translate(30%, -80%);
    }
  }

  &__image {
    position: relative;
    display: block;
    z-index: 3;
    max-height: 70%;
  }

  //Decorative left-side-rectangle
  &::before {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    display: block;

    background-color: var(--primary-dark);
    width: 6rem;
    height: 75%;
  }
  &::after {
    position: absolute;
    left: 0.5%;
    top: 10%;
    content: "";
    display: block;

    background-color: var(--primary-light);
    width: 1.5rem;
    height: 30%;
  }
}
